&__header {
	padding: 0px 1em;
	height: 64px;
	line-height: 64px;
	clear: both;

	&-title {
		float: left;
		font-size: 16px;
		margin: 0;
	}

	&-sub-title {
		float: right;
		font-size: 14px;
		margin: 0;
	}
}


&__canvas {
	width: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}